<div id='lilo' style='height: 2000px; width: 2000;' 
    ng-controller="ControlsController">

    <div layout-gt-md="row" layout="column">
        <div flex="" flex-gt-md="60" >
            <h2>Streams settings</h1>
            <div class="table-responsive-vertical md-whiteframe-z1">
                <table id="table" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>Data stream</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stream in streams track by stream.id">
                            <td data-title="ID">{{stream.id}}</td>                                
                            <td data-title="Type">{{stream.type}}</td>
                            <td data-title="Status">
                                <i class="material-icons" style="color: green" ng-if="stream.active">check_circle</i>
                                <i class="material-icons" style="color: red" ng-if="!stream.active">unpublished</i>
                            </td>
                            <td data-title="Action">
                                <button ng-if="!stream.active" ng-click="startStream(stream.id)">Start</button>
                                <button ng-if="stream.active && !stream.busy" ng-click="startPeerConnection(stream)">Connect</button>
                                <button ng-if="stream.active && !stream.connected" ng-click="stopStream(stream.id)">Stop</button>
                                <button ng-if="stream.connected" ng-click="stopPeerConnection(stream)">Disconnect</button>
                            </td>
                            <td data-title="Data stream (SSE)">
                                <button ng-if="stream.active && !showingData" ng-click="showDataStream(stream)">Show</button>
                                <button ng-if="stream.showData && showingData" ng-click="hideDataStream(stream)">Hide</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div flex="" flex-gt-md="40" flex-offset="5" ng-if="showingData">
            <h2>Data Stream</h2>
            <md-content layout-padding="" md-force-height="'300px'">
                <pre>{{dataMessage | json}}</pre>
            </md-content>
        </div>
    </div>
    <button id="start-all" ng-click="startStreams()">Start all streams</button>
    <button id="stop-all" ng-click="stopStreams()">Stop all streams</button>
    <br>
    <div id="demo" ng-show="online">
        <br>
        <p>
            Connection status: <span>{{status}}</span>
        </p>
        <div ng-show="status == 'connected'">
            <h2>Data</h2>
            <!-- <pre id="data-channel" style="height: 200px;"></pre> -->
            <label>Show data stream:
                <input type="checkbox" ng-model="showData">
            </label><br />
            <div ng-show="showData">
                Connection data:
                <pre >{{connectionData | json}}</pre>
                Payload data:
                <pre>{{lastData | json}}</pre>
            </div>
        </div>
        <div ng-show="status == 'connected'">
            <h2>Video</h2>
            <label>Show remote video:
                <input type="checkbox" ng-model="showRemoteVideo">
            </label><br />
            <video id="video" autoplay width='640px' height='480px' ng-show="showRemoteVideo"></video>
        </div>
        <button id="play" ng-if="manualPlay" ng-click="goPlay()">Play Video</button>

    </div>



    <!-- <img style='height: 100%; width: 100%; object-fit: contain' id="bg" src="/video_stream"> -->



</div>