

# ignore

*.mp4

*.db
*.mov
*.avi
.DS_Store





*.pyc
*~
*.part
*.pdf

**/descriptor/feature_extractors/face_recognition/template_models/images/


**/compose-files/*.yml
**/compose-files/*.list
cluster_configuration.ini
algorithms_configuration.ini
env_params.list


**/node_modules/
**/bower_components/
**/bower_components
.vscode/