

# ignore

*.mp4

*.db
*.mov
*.avi
.DS_Store




.vscode/

*.png
*.jpg

*.pyc
*~
*.part
*.pdf
*.sh

**/descriptor/feature_extractors/face_recognition/template_models/images/


**/compose-files/*.yml
**/compose-files/*.list
**/initialize/configuration_files/*.ini

docker-compose_main.yml
docker_pull.sh
env_params.list


**/node_modules/
**/bower_components/
**/bower_components
.vscode/
*.local
