
<div  >
	<md-content class="md-padding" layout-align="center center" ng-controller="StreamStatsController">
		<p>Frame resolution:
			<b>??</b>
		</p>
		<p>Frames received:
	      <b>{{stream_data.received_frames}}</b>
	    </p>
	    <p>Frames sent:
	      <b>{{stream_data.generated_frames}}</b>
	    </p>
	    <p>Frames analyzed:
	      <b>{{stream_data.elaborated_frames}}</b>
		</p>
		<p>DEEP delay:
			<b>{{stream_data.deep_delay.toFixed(4)}}</b>
		</p>
		<p>DEEP processing period:
			<b>{{stream_data.processing_period.toFixed(4)}}</b>
		</p>
		<p>FPS:
			<b>{{fps.toFixed(2)}}</b>
		</p>
	</md-content>
</div>

